@import "src/style/var";


.Tetris{

    position: relative;

    height: 700px;
    width: 800px;

    @extend %center;

    @extend %glassEffect;

    .endGame{

        position: absolute;

        @extend %center;
        font-size: 2rem;
        font-weight: bold;
        color: black;
    }
}

