
%debugBG1{
  background-color: rgba(0, 255, 0, 0.26);
}
%debugBG2{
  background-color: rgba(0, 196, 255, 0.26);
}
%debugBG3{
  background-color: rgba(255, 0, 0, 0.26);
}

%center{
  display: flex;
  justify-content: center;
  align-items: center;
}
%column{
  display: flex;
  flex-direction: column;
}
%fullScreen{
  height: 100vh;
  width: 100vw;
}


//Game

//CELL
$cell-size: 30px;

$cell-col-grey: grey;

$cell-col-yellow: yellow;
$cell-col-cyan: cyan;
$cell-col-blue: blue;
$cell-col-orange: orange;
$cell-col-green: #00ff00;
$cell-col-purple: #be00be;
$cell-col-red: red;

//FIELD
$field-width: 10;
$field-height: 20;



